    /* Styling for activity and grade boxes */
  .activity-box,
  .grade-box {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .activity-box:nth-child(odd) {
    background-color: #f87a36; /* orange from sign up for odd activities */
    color: #ffffff; /* white text for odd font color */
  }
  
  .activity-box:nth-child(even) {
    background-color: #e1f3ff; /* sky blue for even activities */
    
  }
  
  .grade-box:nth-child(odd) {
    background-color: #f87a36; /* orange from sign up for odd grades */
    color: #ffffff; /* white text for odd font color */
  }
  
  .grade-box:nth-child(even) {
    background-color: #e1f3ff; /* sky blue for even grades */
  }
  

  